## 1. The MickeyMouse Problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [24]:
#a)
for i in range(1,100):
    if i%3 == 0:
        if i%5 == 0: 
            print("MickeyMouse")
        else: 
            print("Mickey")
    elif i%5 == 0: 
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

In [26]:
# a)
# guess I'll just save everything in a list first?
# can't change tuples y'know

mouseList = []
for i in range(1,100):
    if i%3==0:
        if i%5==0: 
            mouseList.append("MickeyMouse")
        else: 
            mouseList.append("Mickey")
    elif i%5 == 0: 
        mouseList.append("Mouse")
    else:
        mouseList.append(i)
        
# b)
# replace Mickey with Donald etc.
duckList = []
for element in mouseList:
    s = str(element).replace("Mickey", "Donald").replace("Mouse", "Duck")
    duckList.append(s)

# finally put stuff in a tuple    
result = tuple(duckList)
print(result)

('1', '2', 'Donald', '4', 'Duck', 'Donald', '7', '8', 'Donald', 'Duck', '11', 'Donald', '13', '14', 'DonaldDuck', '16', '17', 'Donald', '19', 'Duck', 'Donald', '22', '23', 'Donald', 'Duck', '26', 'Donald', '28', '29', 'DonaldDuck', '31', '32', 'Donald', '34', 'Duck', 'Donald', '37', '38', 'Donald', 'Duck', '41', 'Donald', '43', '44', 'DonaldDuck', '46', '47', 'Donald', '49', 'Duck', 'Donald', '52', '53', 'Donald', 'Duck', '56', 'Donald', '58', '59', 'DonaldDuck', '61', '62', 'Donald', '64', 'Duck', 'Donald', '67', '68', 'Donald', 'Duck', '71', 'Donald', '73', '74', 'DonaldDuck', '76', '77', 'Donald', '79', 'Duck', 'Donald', '82', '83', 'Donald', 'Duck', '86', 'Donald', '88', '89', 'DonaldDuck', '91', '92', 'Donald', '94', 'Duck', 'Donald', '97', '98', 'Donald')

## 2. The Swap Function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [28]:
# 2

## 3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [37]:
def euclideanDistance(u,v):
    try: 
        return ((u[0]-v[0])**2+(u[1]-v[1])**2)**0.5
    except: 
        print("Something went wrong. Make sure the input arguments are 2-tuples (x,y) containing numbers.")

In [39]:
# test
u = (3,0) 
v = (0,4)
print(euclideanDistance(u,v))
print(euclideanDistance(u,"test"))

5.0
Something went wrong. Make sure the input arguments are 2-tuples containing numbers.
None

## 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [35]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [40]:
def characterOcurrences(s):
    # set all to lower caps
    s = s.lower()
    
    # create dictionary of characters
    # increase count in dictionary for each occurence
    dict = {}
    for character in s:
        if character in dict.keys():
            dict[character] += 1
        else:
            dict[character] = 1
    print(dict)

In [41]:
characterOcurrences(s)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

## 5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [9]:
def uniqueNumbers(l):
    # use a dictionary to count occurences (like 4.)
    dict = {}
    for number in l:
        if number in dict.keys():
            dict[number] += 1
        else:
            dict[number] = 1
            
    # create result list with unique numbers
    results = [key for key in dict.keys() if dict[key] == 1]
    print("%d unique numbers found!" %len(results))
    
    return results

In [10]:
print(uniqueNumbers(l))

37 unique numbers found!
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

## 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [12]:
def square(x): return x**2
def cube(x): return x**3
def sixthPower(x): return square(cube(x))

In [13]:
# test 
x = 3
print(square(x), cube(x), sixthPower(x))

9 27 729

## 7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [18]:
#a) for loop
list_a = []
for i in range (11):
    list_a.append(i**2)
    
#b) list comprehension
list_b = [i**2 for i in range(11)]
    
print("a) ", list_a)
print("b) ", list_b)

a)  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b)  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [29]:
pythagorean_triples = [(a, b, c) for b in range(1, 100) for a in range(1, b) for c in range(1, 100) if a**2+b**2 ==c**2]
print(pythagorean_triples)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (20, 21, 29), (7, 24, 25), (10, 24, 26), (18, 24, 30), (21, 28, 35), (16, 30, 34), (24, 32, 40), (12, 35, 37), (15, 36, 39), (27, 36, 45), (9, 40, 41), (30, 40, 50), (40, 42, 58), (33, 44, 55), (24, 45, 51), (28, 45, 53), (14, 48, 50), (20, 48, 52), (36, 48, 60), (39, 52, 65), (48, 55, 73), (33, 56, 65), (42, 56, 70), (11, 60, 61), (25, 60, 65), (32, 60, 68), (45, 60, 75), (16, 63, 65), (60, 63, 87), (48, 64, 80), (51, 68, 85), (24, 70, 74), (21, 72, 75), (30, 72, 78), (54, 72, 90), (65, 72, 97), (40, 75, 85), (57, 76, 95), (36, 77, 85), (18, 80, 82), (39, 80, 89), (13, 84, 85), (35, 84, 91)]

## 9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one